<div class="row">
    <div class="Title">
      <h2>編集する</h2>
    </div>
    <br>
    
    <%= form_with model:@post, local:true do |f| %>
    <div class="col-12">
      <%= attachment_image_tag @post, :image, :size =>'300x200' %>
      </br>
      <%= f.text_area :sentence, autofocus: true, class:"form-caption", rows:"3", placeholder:"投稿文ここに" %>
    </div>
    <div class="col-12">
      <%= f.label :area, 'エリア' %>
    </div>
    <div class="col-12">
      <%= f.select :area, options_for_select({'国内': 1, 'アジア': 2, '北アメリカ': 3, '南アメリカ': 4, 'ヨーロッパ': 5, 'アフリカ': 6, 'オセアニア': 7 }, :prompt =>'---選択してください---', class: 'form-control', required: true ), autofocus: true %>
    </div>
    </br>
    <div class="col-12">
      <%= f.label :tag_list, 'タグ' %>
      <%= f.text_field :tag_list, value: @post.tag_list.join(','), autofocus: true, class: "form-control" %>
    </div>
    </br>
    <div class="col-12">
      <%= f.submit "編集する" %>
    </div>
    <% end %>
    
</div>