<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  <div class="row">
     <div class="col-md-1">
      <h4>エリア</h4>
        <div class="area">
          <% Area.all.each do |area| %>
              <%= link_to area.continent, posts_path(area_id: area.id) %>
          <% end %>
        </div>
    </div>
    <% if @area %>
      <p><%= @area.continent %></p>
    <% end %>
    <% if @word %>
      <p><%= @word %></p>
    <% end %>
    <div class="col-md-11">
      <% @posts.each do |post| %>
            <div class="masonry-block">
                    <%= link_to post_path(post.id) do %>
                      <%= attachment_image_tag post, :image, :size =>'300x200' %>
                    <% end %>
                <div class="block-content">
                  <%= attachment_image_tag post.customer, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
                  <h3 class="block-title">
                    <%= link_to customer_path(post.customer_id) do %>
                      <%= post.customer.name %>
                    <% end %>
                  </h3>
                  <p><%= post.sentence %></p>
                  <div class="block-reaction">
                  <% if customer_signed_in? %>
                    <% if post.liked_by?(current_customer) %>
                        <%= link_to post_likes_path(post), method: :delete do %>
                          <i class="fa fa-heart",aria-hidden="true", style="color: red;"></i>
                          <%= post.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(post), method: :post do %>
                          <i class="fa fa-heart" aria-hidden="true"></i>
                          <%= post.likes.count %>
                        <% end %>
                    <% end %>
                  <% else %>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <%= post.likes.count %>
                  <% end %>
                      <i class="fa fa-comment">
                      <%= link_to "#{post.comments.count}", post_path(post.id) %>
                      </i>
                  
                  </div>
                  <% post.tag_counts_on(:tags).each do |tag| %>
                    <%= link_to tag.name, posts_path(tag_name:tag.name), class: "label label-primary" %>
                  <% end %>
                </div>
            </div>
      <% end %>
    </div>
  </div>
</div>