<div class="row">
    <div class="Title">
      <h2>新規投稿</h2>
    </div>
    <br>

    <%= form_with model:@post, local:true do |f| %>
    <div class="col-12">
      <%= f.attachment_field :image %>
      </br>
      <%= f.text_area :sentence, class:"form-caption", rows:"5", placeholder:"投稿文" %>
    </div>
    <div class="col-12">
      <%= f.label :area_id, 'エリア' %>
    </div>
    <div class="col-12">
      <%= f.select :area_id, options_for_select({'国内': 1, 'アジア': 2, '北アメリカ': 3, '南アメリカ': 4, 'ヨーロッパ': 5, 'アフリカ': 6, 'オセアニア': 7 }, :prompt =>'---選択してください---', class: 'form-control', required: true ) %>
    </div>
    </br>
    <div class="col-12">
      <%= f.label :tag, 'タグ' %>
      <%= f.text_field :tag, class: "form-control", :value =>@post.tags.join(',') %>
    </div>
    </br>
    <div class="col-12">
      <%= f.submit "投稿する" %>
    </div>
    <% end %>

</div>