<div class="row">
  <div class="text-left">
    <div class="Title">
      <h2>新規投稿</h2>
    </div>
    <br>
    <% if @post.errors.any? %>
          <div class = "alert">
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    <br>
    <div class="new-post">
      <%= form_with model:@post, local:true do |f| %>
      
        <%= f.attachment_field :image %>
        </br>
        <%= f.text_area :sentence, class:"form-caption", rows:"5", placeholder:"投稿文" %>
        </br>
        <%= f.label :area_id, 'エリア' %>
        </br>
        <%= f.collection_select(:area_id, @areas, :id, :continent, include_blank: true) %>
        </br>
        <%= f.label :tag_list, 'タグ' %>
        <%= f.text_field :tag_list, class: "form-control", :value =>@post.tag_list.join(',') %>
        </br>
        <%= f.submit "投稿する" %>
      <% end %>
    </div>
  </div>

</div>